<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flash Cards</title>
  </head>
  <body>
    <header>
      <h1>Flash Cards</h1>
    </header>
    <% if (name) { %>
    <h2>Welcome, <%= name %>!</h2>
    
    <form action="/logout" method="POST">
          <button type="submit">Goodbye, <%= name %></button>
    </form>
    <% } %>

    <section id="content">
      <!-- Where the view content will be injected -->
      <%- body %>
    </section>

    <footer>
      <p>An app to help you study</p>
    </footer>
  </body>
</html>