<!-- views/card.ejs -->
<%- include('partials/header') %>

      <h2><%= prompt %></h2>
        <p>
          <i><%= typeof hint !== 'undefined' && hint.length > 0 ? 'Hint: ' + hint : '' %></i>
        </p>

<%- include('partials/footer') %>