<h2>Welcome, student!</h2>
<form action="/hello" method="POST">
  <label for="name">Please enter your name:</label>
  <input type="text" name="userName" id="name" required>
  <button type="submit">Submit</button>
</form>